html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}

body {
    font-family: 'Raleway', sans-serif;
    line-height: 1.5em;
}

h1, h2, h3 {
	font-family: 'Oswald', sans-serif;
}

/* Utility classes */
.responsive-img {
  max-width: 100%;
}

/* Grid system! */
.row {
    max-width: 740px; /*Changed from 1000px*/
    margin: 0 auto;
    display: flex; 
    flex-wrap: wrap; 
}
/* If an element needs all twelve columns, then its width is 100%. Easy. */
.col-small-12 {
    width: 100%;
}


.container {
	display: flex;
	flex-direction: column;
}

.
/* 

* =============== Banner =======================

*/
.banner {
	text-align: left;
  /*overflow: hidden;*/
}

.banner-box {
	display: flex;
	justify-content: space-between;
}

.profile-pic img {
	border-radius: 50%;
}

.empty-box {
	width: 50px;
	height: 150px;
}

.icons ul {
	list-style: none;
	padding-left: 0;
}

.icons li {
  font-size: 2em;
  margin: 0.2em 0.3em;
  opacity: 0.5;
  background-color: hsl(153, 13%, 4%);
  color: white;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.icons li:hover {
    opacity: 1;
    background-color: hsl(195, 67%, 45%);
}

.name h1 {
	font-size: 3.5em;
  margin-top: 0.2em;
  margin-bottom: 0.5em;
}
/* 

* ============ Navigation =======================

*/
.navigation {
  text-align: left;
  background-color: LightGrey;
  padding-left: 0.75em;
}

.navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation li {
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
}

.navigation a {
  text-decoration: none;
  color: #13241C;
  font-weight: 100;
}

.navigation a:hover {
  background:#ffa800;
  color:#000;
}

/* 

* ============ About ===========================

*/
.about {
  background-color: #2699BF; 
  margin: 0 auto;
  max-width: 740px; /*Changed from 1000px*/
}

.about h2 {
	color: #ffa800;
	font-size: 3em;
}

.about p {
	padding: 0 0.75em 0.75em 0.75em;
}

/* 

* ================ Skills ======================

*/
.skills {
  background-color: #ffa800; /*yellow*/
  margin: 0 auto;
  max-width: 740px; /*Changed from 1000px*/
}

.skills h2 {
	color: #2699bf;
	font-size: 3em;
}

.skill h3 {
  color: #1c1c1c;
  margin-top: 0.25em;
  font-size: 1.75em;
}

.skill {
	border: solid 2px whitesmoke;
  padding: 0.5em;
  margin: 0.5em;
}


/* 

* ================= Projects ===================

*/
.projects {
  background-color: #1c1c1c; /* grey-black */
  margin: 0 auto;
  max-width: 740px; /*Changed from 1000px*/
}

.projects h2 {
	color: #ffa800;
	font-size: 3em;
}

.projects p {
	color: #efefef;
}

.img-box:hover {
	border: solid 2px #ffa800;
	padding: 0.5em;
}

/* 

* ================= Education =================

*/
.education {
	max-width: 740px; /*Changed from 1000px*/
  margin: 0 auto;
  background-color: #ffa800; /*yellow*/
}

.education h2 {
	color: #2699bf;
	font-size: 3em;
}

.education h3 {
  color: #1c1c1c;
  margin-top: 0;
  font-size: 1.75em;
}

.eduText {
	padding: 0 0.75em 0.75em 0.75em;
}

/* 

* ================= Work Experience ============

*/
.workExp {
	max-width: 740px;
  margin: 0 auto;
  background-color: #2699BF;
}

.workExp h2 {
	color: #ffa800;
	font-size: 2.75em;
	overflow-wrap: break-word;
}

.workBoxes {
	padding-bottom: 1em;
}

.work {   
	border: solid 2px whitesmoke;
  padding: 0.5em;
  margin: 0.5em;
}

.work h3 {
  color: #1c1c1c;
  margin-top: 0;
  font-size: 1.75em;
}

.work h4 {
	color: #ffa800;
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-family: 'Oswald', sans-serif;
  font-size: 1.25em;

}




/* ==============================================
====================MEDIA QUERIES================
=================================================
*/
/* Medium and up screen sizes */

@media only screen and (min-width: 641px) {

  /* This is the class we'd use if we want four elements next to each other */
  .col-medium-3 {
      width: 25%;
  }

  .col-medium-2 {
      width: 16.666%;
  }

  .container {
  	flex-direction: row;
  	justify-content: space-around;

  }

	.navigation {
		padding-bottom: 2em;
	}
  .navigation li{
  	display: inline-block;
  	margin-right: 1em;
    margin-left: 0.5em;
  }

}


/* Large screen sizes */

@media only screen and (min-width: 1025px) {



}

